*{
    margin: 0px;
    padding: 0px;
  
}

a{
    text-decoration: none;
}

body{
    height: auto;
    width: 100vw;
    overflow-x: hidden;
 
}


.maincontainer{
    margin-top: 0%;
 
    overflow-x: hidden;

}
.navcontainer{
   
    top: 0;
    left: 0;
    height:auto;
    width: 100%;
    background-color: #DCDCDC;
    position: fixed;
}
.navcontainer p {
    color: 	#696969;
}

#navlist{
    list-style: none;
    padding: 3px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#navlogo{
    font-size: 3vw;
    color:#262525;
}
#navright{
    list-style: none;
    font-size: 1.5vw;
    padding-right: 3vw;

    display: flex;
    gap: 10%;

}
#navright i{
    font-size: 1.6vw;
    display: none;
}
#navright a{
    color: 	#262525;
}

#login-btn{
    height:30px;
    width:150px ;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: rgb(99, 96, 96);
    color: white;
}


.bg-image{
    width: 50vw;
    height: 80vh;
    overflow: hidden;
    
}

.img-bg{
    height:95vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);   */
}


.input-form{
    height: 70px;
    width:60vw;
    
    background-color:#DCDCDC; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    color: #262525;
    /* box-shadow: 20px 20px 50px rgba(0,0,0,0.5); */
    backdrop-filter: blur(5px);  
}
.input-form select{
    height:50px;
    width: 150px;
    border-radius: 5px;
}
.input-form input{
    height:50px;
    width: 150px;
    border-radius: 5px;
}
.input-form button{
    height:50px;
    width: 100px;
    border-radius: 5px;
}

#recent-job{
    width: 100vw;
    height: 50px;
    margin-top: 10px;
    font-size:2em;
    background-color:#DCDCDC; 
    display: flex;
    justify-content: center;

}

.Recent-job-opening{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.Recent-job-opening .poster{
    height: 40vh;
    width: 30vw;
    /* border: 1px solid black; */
}


.About{
    height: 30vh;
    width: 100vw;
    background-color: rgb(66, 63, 63);
}








.Recent-job-opening .poster #card{
 
    height:40vh;
    border: 2px solid rgb(143, 138, 138);
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
    /* backdrop-filter: blur(1px);    */
    align-items: center;
    background-color: #DCDCDC;
    /* object-fit: cover; */
  

}
.Recent-job-opening .poster #card .img{
    height: 80px;
    width: 200px;

}
.Recent-job-opening .poster img{
    width: 100%;
    height: 100%;
   object-fit: cover;


}
/* 
.Recent-job-opening .poster h1{
    margin-top: 5px;
}
.Recent-job-opening .poster h3{
    margin-top: 50px;
    color: red;
}
.Recent-job-opening .poster #add{
    margin-top: 35px;
   
   
}
.Recent-job-opening .poster #btn{
    margin-top: 15px;
   
   
}

.Recent-job-opening .poster p{
    margin-top: 5px;
}

.Recent-job-opening .poster button{
    height: 40px;
    width: 200px;
    border-radius: 30px;
    border: 2px solid wheat;
    background-color: transparent;
} */
